/* Resetando algumas configurações padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #008c45;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

#intro {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

#turismo ul li {
    margin-bottom: 10px;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #008c45;
    color: white;
    padding: 10px;
    margin-top: 40px;
}
